awkward==2.8.5
chromadb==1.0.15
jupyter_client==8.6.3
jupyter_core==5.8.1
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.67
langchain-ollama==0.3.3
langchain-text-splitters==0.3.8
matplotlib==3.10.3
numpy==2.3.1
ollama==0.5.1
tiktoken==0.9.0
uproot==5.6.3
